{% extends 'layouts/front.html.twig' %}

{% block content %}
<main>
    <h2>Articles</h2>
    <p id='ph' class="heart" data-type="like">{{ likes }}</p>
    {% for article in articles %}
    <div>
        <h4><a href="{{ path('app_article_show', {slug: article.slug }) }}">{{ article.title }}</a></h4>
        <p><small>published: {{ article.publishedAt ? article.publishedAt|ago }}</small></p>
    </div>
    {% endfor %}
</main>
{% endblock %}
{% block js_footer %}
    {{ parent() }}
<script src="http://localhost/{{ asset('js/like.js') }}"></script>
{% endblock %}
