{% extends 'layouts/front.html.twig' %}

{% block content %}
<main>
    <h2>Article :: {{ article.title }}
        <i id='ph'
           data-type="like"
           data-like-href="{{ path('app_articles_like', {slug: article.slug, type: 'like'}) }}"
           data-dislike-href="{{ path('app_articles_like', {slug: article.slug, type: 'dislike'}) }}">
            (likes {{ article.likeCount }})
        </i>
    </h2>
    <hr>
    {% if article.tags|length %}
    <div>
        <ul>
            {% for tag in article.tags %}
                <li>{{ tag.name }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <hr>
    <div><img src="{{ asset(article.imagePath) }}" alt="Article image" title="Article image"></div>
    <div>{{ article.body|cached_markdown }}</div>
    <div>
        <p>
            <b>Published at: {{ article.publishedAt ? article.publishedAt|ago : 'not published' }}</b>
        </p>
    </div>
    <div>
        <b>Written By {{ article.author }}</b>
        <img src="{{ article.authorAvatarPath }}" alt="{{ article.author }}" title="{{ article.author }}">
    </div>
    <div>
        <p>Quantity of comments {{ article.nonDeletedComments|length }}</p>
        <ul>
            {% for comment in article.nonDeletedComments %}
                <li>
                    {{ comment.authorName }}: {{ comment.content }} /{{ comment.createdAt|ago }}
                    {% if comment.deletedAt %} DELETED {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>

</main>
{% endblock %}
{% block js_footer %}
    {{ parent() }}
    <script src="http://localhost/{{ asset('js/like.js') }}"></script>
{% endblock %}
