{% extends 'layouts/front.html.twig' %}

{% block content %}
<main>
    <h2>Article :: {{ article.title }}</h2>
    <hr>
    <div>{{ article.body|cached_markdown }}</div>
    <div><b>Published at: {{ article.publishedAt ? article.publishedAt|ago : 'not published' }}</b></div>

    <ul>
    {% for comment in comments %}
        <li>{{ comment }}</li>
    {% endfor %}
    </ul>
</main>
{% endblock %}
{% block js_footer %}
    {{ parent() }}
{% endblock %}
