{% extends 'base_content.html.twig' %}

{% block title %}Control Comments{% endblock %}

{% block body %}
    {% block content %}
        <div>
            <h1>Control comments</h1>
            <form action="">
                <div class="mb-4">
                    <input type="text"
                           name="q"
                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                           placeholder="Find..." value="{{ app.request.query.get('q') }}">
                </div>
                <div class="flex items-start mb-6">
                    <div class="flex items-center h-5">
                        <input id="showDeleted"
                               name="showDeleted"
                               type="checkbox"
                               {% if app.request.query.has('showDeleted') %} checked {% endif %}
                               class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800">
                    </div>
                    <label for="showDeleted" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Show DELETED</label>
                </div>
                <div class="input-group-append">
                    <button type="submit" class="btn btn-outline-secondary"><i class="fa fa-question"></i>Find</button>
                </div>
            </form>
        </div>
        <div class="col-sm-12">
            <table class="table">
                <thead>
                <tr>
                    <td>Title</td>
                    <td>Author</td>
                    <td>Created At</td>
                    <td>Text</td>
                </tr>
                </thead>
                <tbody>
                {% for comment in comments %}
                    <tr>
                        <td>
                            <a href="{{ path('app_article_show', {slug: comment.article.slug}) }}">{{ comment.article.title }}</a>
                        </td>
                        <td>{{ comment.authorName }}</td>
                        <td>{{ comment.createdAt|ago() }}</td>
                        <td>{{ comment.content|u.truncate(40, '...') }} {% if comment.deleted %} DELETED {% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endblock %}
{% endblock %}
